body {
  background-color: #232222;
  color: #ffffff;
  font-family: "Trebuchet MS", Arial, sans-serif;
  margin: 40px;
  line-height: 1.6;
}


h1 {
  color: #0a66c2;
  font-family: "Arial Black", sans-serif; 
  border-bottom: 3px solid #0a66c2;
  padding-bottom: 5px;
}

h2 {
  color: #525dc0;
  font-style: italic;
  margin-top: 30px;
}


ul, ol {
  margin-left: 30px;
}

.moods {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 15px;
}

.moods img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid #000000;
  box-shadow: 3px 3px 8px rgba(252, 252, 252, 0.2);
}

.moods p {
  text-align: center;
  margin-top: 6px;
  font-weight: bold;
}

a {
  color: #00a6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}